# Git metadata
.git/
.gitattributes

# System / OS files
.DS_Store
Thumbs.db

# Editor/IDE folders
.vscode/
.idea/

# Node / build files
node_modules/
vendor/
package.json
package-lock.json
composer.json
composer.lock
webpack.config.js
Gruntfile.js
gulpfile.js

# Logs
*.log

# WordPress.org assets
.wordpress-org/
